include ../layout
include ../pag
- var labNum = filename[filename.length-5];
- var author = filename[filename.length-7];
    link(href='/stylesheets/'+author+'/'+labNum+'.css', rel='stylesheet')
+pag(author,labNum)
div
    p.
        #[a(href="http://generator.lorem-ipsum.info/") Lorem ipsum] dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim  #[span(id='viniam') veniam, quis nostrud exercitation ullamco laboris] nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

- var posts = [{ link: "https://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg", alt: 'cat'}, { link: "https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg", alt: 'dog'},{ link: "https://www.petakids.com/wp-content/uploads/2015/11/Cute-Red-Bunny.jpg", alt: 'bunny'}];
div
    table
        thead
            tr: th Домашние питомцы

        tbody
            tr(class='odd' )
                each post in posts
                    td
                        img(src=post.link alt=post.alt class='img-sized')
                        span #{post.alt}