include ../layout
include ../pag
- var labNum = filename[filename.length-5];
- var author = filename[filename.length-7];
+pag(author,labNum)
link(href='/stylesheets/' + author + '/' + labNum + '.css', rel='stylesheet')
script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",crossorigin="anonymous")
script(src='/js/s/jquery.magnific-popup.min.js')
script(src='/js/s/5.js')
h3(id='gallery')
<div class="popup-gallery">
<a id="img-0"><img></a>
<a id="img-1"><img></a>
<a id="img-2"><img></a>
</div>