include ../layout
include ../pag
- var labNum = filename[filename.length-5];
- var author = filename[filename.length-7];
+pag(author,labNum)
link(href='/stylesheets/' + author + '/' + labNum + '.css', rel='stylesheet')
h2 Пара логин/пароль не найдена