include ../layout
include ../pag
- var labNum = filename[filename.length-5];
- var author = filename[filename.length-7];
    link(href='/stylesheets/'+author+'/'+labNum+'.css', rel='stylesheet')
+pag(author,labNum)
div
    p.
        #[a(href="http://generator.lorem-ipsum.info/") Лорем ипсум] долор сит амет, дицунт анимал утамур мел ад.
        Еи про солута яуидам ессент, не молестие цонсулату вулпутате сед, ан тале рецтеяуе хас. Хис еа одио глориатур, пер
        #[span(id='viniam') агам магна анимал ан, мутат дицерет вих ут.] Сцаевола легендос яуо ид, не ест магна тритани.
        Еа семпер аццусамус сит. Ад ест новум дебет еррем.

table(border=1)
    thead
        tr: th(colspan=5) Бальная система
    - var n = 0;
    - var i = 1;
    tbody
        tr
            while n<100
                td=n+=25
        tr
            while i<5
                td=i+=1
img(src='https://upload.wikimedia.org/wikipedia/ru/2/24/Lenna.png' alt='Lenna' class='img-512')