body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.pag ul{
  list-style: none;
}
.pag ul li{
  display: inline;
}
.pag ul li a{
  text-decoration: none;
}