td span {
    display: block;
    margin: 0 auto;
    width: 40px;
    text-align: center;
    color:white;
}
#viniam{
    font-weight: 700;
    text-decoration: underline;

}
.img-sized {
    width : 400px;
    height : 400px;
}
td > span{
    background: gray;
}

td:nth-child(even) > span{
    background: darkmagenta;
}
td:nth-child(odd) > img:hover{
    animation:spin 4s linear infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
td:nth-child(even) > img:hover{
    animation:scale 4s linear infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes scale { 100% { -moz-transform: scale(2.8); } }
@-webkit-keyframes scale { 100% { -webkit-transform: scale(2.8); } }
@keyframes scale { 100% { -webkit-transform: scale(2.8); transform:scale(2.8); } }